a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
img {
  height: 50px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.idSearch {
  margin-left: 20px;
  margin-right: 2px;
}

.updateInputs {
  margin-right: 60px;
  margin-bottom: 15px;
}

.updateInputsDiv {
  margin-top: 10px;
  text-align: center;
}

.updateButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addInputs {
  width: 150px;
  margin-right: 30px;
}
